<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <h1>Devices List</h1>
      <table mat-table class="mat-elevation-z8" [dataSource]="deviceSource">
        <ng-container matColumnDef="device_eui">
          <th mat-header-cell *matHeaderCellDef>EUI</th>
          <td mat-cell *matCellDef="let device">{{ device.device_eui }}</td>
        </ng-container>

        <ng-container matColumnDef="device_name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let device">{{ device.device_name }}</td>
        </ng-container>

        <ng-container matColumnDef="be_quota">
          <th mat-header-cell *matHeaderCellDef>Quota</th>
          <td mat-cell *matCellDef="let device">{{ device.be_quota }}</td>
        </ng-container>

        <ng-container matColumnDef="expired_time">
          <th mat-header-cell *matHeaderCellDef>Expire Time</th>
          <td mat-cell *matCellDef="let device">{{ device.expired_time }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let device">
            <button
              mat-icon-button
              color="primary"
              (click)="handleAction(device.device_eui)"
            >
              <mat-icon>visibility</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedDeviceColumns"></tr>
        <tr
          mat-row
          *matRowDef="let device; columns: displayedDeviceColumns"
        ></tr>
      </table>
    </div>
    <div *ngIf="showDetails">
      <h1>Device Data</h1>
      <table mat-table class="mat-elevation-z8" [dataSource]="dataSource">
        <ng-container matColumnDef="measurement_id">
          <th mat-header-cell *matHeaderCellDef>Measurement Id</th>
          <td mat-cell *matCellDef="let dataPoint">
            {{ dataPoint.points[0].measurement_id }}
          </td>
        </ng-container>

        <ng-container matColumnDef="measurement_value">
          <th mat-header-cell *matHeaderCellDef>Measurement Value</th>
          <td mat-cell *matCellDef="let dataPoint">
            {{ dataPoint.points[0].measurement_value }}
          </td>
        </ng-container>

        <ng-container matColumnDef="time">
          <th mat-header-cell *matHeaderCellDef>Time</th>
          <td mat-cell *matCellDef="let dataPoint">
            {{ dataPoint.points[0].time }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedDataColumns"></tr>
        <tr
          mat-row
          *matRowDef="
            let dataPoint of dataSource;
            columns: displayedDataColumns
          "
        ></tr>
      </table>
    </div>
  </body>
</html>

<router-outlet></router-outlet>
